
.parent {
    height: 100vh;
    display: grid;
    grid-template-columns: 100px repeat(4,1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 8px;
}
    
.nav-bar {
    width: 100px;
    grid-row: span 7 / span 7;
}

.top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    grid-column: span 4 / span 4;
}

.div3 {
    background-color: rgb(35, 179, 35);
    grid-column: span 4 / span 4;
    grid-column-start: 2;
    grid-row-start: 2;
}

.div4 {
    background-color: rgb(248, 248, 113);
    grid-column: span 4 / span 4;
    grid-row: span 5 / span 5;
    grid-column-start: 2;
    grid-row-start: 3;
}

li {
    margin-bottom: 40px;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.nav-column-organizer{
    display: flex;
    flex-direction: column;
}

i {
    font-size: 25px;
    margin-bottom: 7px;
}

.top-bar i {
    font-size: 17px;
}
        
.search-bar-input {
    background-color: grey;
    border: none;
}

.search-bar {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
}

.search-bar-icon {
    background-color: rgb(128, 128, 128, 0);
}