body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: rgb(244, 250, 255);
}

.modal {
    height: 250px;
    width: 325px;
    background-color: white;
    gap: 10px;
    border: 1px solid rgb(184, 184, 184);
    border-radius: 5px;
    box-shadow: 2px 2px rgb(184, 184, 184);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}