.counter-project {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 100px;
}

.counter-parent {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

input {
    margin-bottom: 30px;
    font-size: 40px;
}

button {
    margin: 5px;
    font-size: 40px;
}

.buttons-parent {
    display: flex;
    flex-direction: row;
}