body {
    height: 100vh;
    width: 100vw;
    display: flex;
}


.result {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 15px;
}
    
.total-sales {
    grid-column: span 3 / span 3;
    grid-row: span 2 / span 2;
    background-color: whitesmoke;
    border-radius: 5px;
}

.visits {
    grid-column: span 3 / span 3;
    grid-row: span 2 / span 2;
    grid-column-start: 4;
    background-color: whitesmoke;
    border-radius: 5px;
}

.payments {
    grid-column: span 3 / span 3;
    grid-row: span 2 / span 2;
    grid-column-start: 7;
    background-color: whitesmoke;
    border-radius: 5px;
}

.operation-effect {
    grid-row: span 2 / span 2;
    grid-column-start: 10;
    background-color: whitesmoke;
    border-radius: 5px;
}

.store-sales-trend {
    grid-column: span 10 / span 10;
    grid-row: span 4 / span 4;
    grid-row-start: 3;
    background-color: whitesmoke;
    border-radius: 5px;
}
        

.side-bar {
    height: 100vh;
    width: 200px;
    background-color: rgb(6, 23, 80);
    border-radius: 5px;
    color: white;
    display: flex;
    flex-direction: column;
}

.company-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    font-size: 25px;
}

.bar-options {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-size: 17px;
}

.bar-option {
    display: flex;
    padding-left: 20px;
    height: 50px;
    align-items: center;
}



.chosen-option {
    display: flex;
    align-items: center;
    padding-left: 20px;
    width: 180px;
    height: 50px;
    background-color: rgb(44, 152, 253);
}

.result {
    display: grid;
    height: 500px;
}